textarea, .input {
  background: var(--color-background);
  border-radius: var(--border-radius-inputs);
  color: var(--color-primary-text);
  font-weight: 300;
  padding: var(--spacing-md) var(--spacing-sm);
}

@media (min-width: 1024px) {
  .input {
    padding: 1rem 2rem;
  }
}
