@media(max-width: 768px) {
  #hero {
    padding: 0 var(--spacing-md);
    margin-bottom: 30%;
  }
}

/*Media query para tablets*/
@media(min-width: 768px) {
  #hero {
    margin-bottom: 30%;
  }

  .hero__container {
    height: 600px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-lg);
  }

  .hero-section {
    width: 50%;
    margin: 0;
    text-align: left;
  }

  .hero-speaker-container {
    width: 45%;
    height: auto;
  }

  .pn__card-wrapper {
    max-height: 50vh;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
  }

  .pp__cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pp__card {
    width: 45%;
    margin-bottom: var(--spacing-lg);
  }

  .hero-section h2 {
    font-size: var(--font-size-h2);
  }

  .hero-section p {
    font-size: var(--font-size-p);
  }

  h3 {
    font-size: var(--font-size-h3);
  }
}

/* Media Query para Desktops */
@media (min-width: 1024px) {
  #hero {
    margin-bottom: 20%;
  }

  .hero__container {
    height: 500px;
    padding: var(--spacing-xl);
  }

  .pn__card-wrapper {
    width: 50%;
  }

  .pp__card {
    width: 30%;
  }

  .pp__cards-wrapper {
    justify-content: space-between;
  }

  .hero-section h2 {
    font-size: var(--font-size-h2);
  }

  .hero-section p {
    font-size: var(--font-size-p);
  }

  h3 {
    font-size: var(--font-size-h3);
  }
}

@media (min-width: 1440px) {

  #hero {
    margin-bottom: 20%;
  }

  .hero__container {
    height: 450px;
    padding: var(--spacing-xl);
  }

  .hero-section {
    width: 45%;
  }

  .hero-speaker-container {
    width: 50%;
  }

  .pn__card-wrapper {
    width: 45%;
  }

  .pp__card {
    width: 28%;
  }

  .hero-section h2 {
    font-size: var(--font-size-h2);
  }

  .hero-section p {
    font-size: var(--font-size-p);
  }

  h3 {
    font-size: var(--font-size-h3);
  }
}

#hero {
  height: max-content;
}

.hero__container {
  background-image: url("../../assets/img/fondoLandingPage.png");
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 3rem 3rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-lg);
}

.hero-section h2, p {
  text-align: center;
}

.hero-section h2 {
  font-weight: 700;
}

.hero-section p {
  font-weight: 300;
  margin: var(--spacing-sm);
}

.hero-button {
  margin: auto;
  margin-top: 4rem;
}

.hero-speaker-container {
  width: 85%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/*Productos Nuevos*/
#productos_nuevos {
  padding: var(--spacing-lg) var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
}


#productos_nuevos, #productos_populares {
  margin: 3rem var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: var(--font-size-xl);
    text-align: center;
    margin-bottom: var(--spacing-md);
  }

  p {
    font-weight: 300;
    margin: var(--spacing-sm);
    font-size: var(--font-size-p);
    text-align: center;
  }
}

.pn__card-wrapper {  
  position: relative;
  width: 80%;
  max-width: 350px;
  margin: var(--spacing-lg) 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.pn__card-gradient-bg {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(180deg, #000 0%, #000 14%, #C82B67 61%, #D08874 86%);
  height: 25vh;
  border-radius: 0 0 var(--border-radius-background-img) var(--border-radius-background-img);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: var(--spacing-sm);

  .pn__card-title-wrapper {
    border-radius: var(--border-radius-inputs) var(--border-radius-inputs) 0 0;
    background-color: var(--color-background);
    position: absolute;
    bottom: 0;
    left: 31%;

    .pn__card-title {
      font-weight: 800;
    }
  }
}

/*Productos populares*/
.pp__cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg) 0;

  .pp__card {
    width: 90%;
    max-width: 350px;
    background-color: var(--color-background-card);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md) 0;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
      width: 60%;
    }

    p, span {
      color: var(--color-background);
    }

    .product-title {
      font-weight: 500;
    }

    .product-price {
      font-weight: 300;
    }

    .pp__card-button-wrapper {
      margin-top: var(--spacing-md);
    }
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-left.appear {
  opacity: 1;
  transform: translateX(0);
}
.slide-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-right.appear {
  opacity: 1;
  transform: translateX(0);
}

.scale-in {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scale-in.appear {
  opacity: 1;
  transform: scale(1);
}

/* Media Queries para Tablets */
@media (min-width: 768px) {
  .pn__card-wrapper, .pp__cards-wrapper {
    width: 60%;
    margin: var(--spacing-lg) auto;
  }

  .pn__card-gradient-bg, .pp__card {
    width: 100%;
  }

  .pp__cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pp__card {
    width: 48%;
    margin-bottom: var(--spacing-lg);
  }
}

/* Media Queries para Desktops */
@media (min-width: 1024px) {
  #productos_nuevos, #productos_populares {
    margin: 4rem var(--spacing-xl);
  }

  .pn__card-wrapper, .pp__cards-wrapper {
    width: 45%;
    margin: var(--spacing-lg) auto;
  }

  .pn__card-gradient-bg, .pp__card {
    width: 100%;
  }

  .pp__cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pp__card {
    width: 30%;
    margin-bottom: var(--spacing-lg);
  }

  .pp__card-button-wrapper {
    padding: 1rem 1.5rem;
  }
}

/* Media Queries para Desktops Grandes */
@media (min-width: 1440px) {
  .pn__card-wrapper, .pp__cards-wrapper {
    width: 40%;
  }

  .pp__card {
    width: 28%;
  }
}