.login-wrapper {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-lg) 0;
  width: 80%;
}

.label-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-lg);
}

.label-login {
  font-weight: 500;
}

.input-login {
  margin: var(--spacing-sm) 0;
}