.nosotros-p {
  line-height: 1.8rem;
  margin-bottom: var(--spacing-lg);
}

.nosotros-h4 {
  font-size: var(--font-size-large);
}

.sucursales-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.sucursal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nosotros-sucursal-nombre {
  font-size: var(--font-size-medium);
}

.nosotros-sucursal-direccion {
  font-weight: 300;
}