.img-container {
  padding: var(--spacing-lg);
}

.producto-detalles {
  border-radius: var(--border-radius-inputs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--navbar-background-color);
  width: 50%;
}

.producto-detalles p {
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-md);
}

.producto-detalles p, h2 {
  margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
}

.section-button {
  margin: var(--spacing-md) 0;
}

.span-producto-especifico {
  font-size: var(--font-size-small);
  font-weight: 300;
}

@media (min-width: 1024px) {

  .title-producto-especifico{
    margin-bottom: 4rem;
  }

  .flex-producto-especifico {
    display: flex;
    gap: var(--spacing-lg);
  }
}
