body {
  font-family: var(--font-family);
  color: var(--color-primary-text);
  background-color: var(--color-background);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2px;
}

p {
  margin-bottom: var(--spacing-medium);
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

select {
  padding: 0;
  margin: 0;
}


.title {
  font-size: var(--font-size-xl);
}

.subtitle {
  font-weight: 300;
  margin: var(--spacing-sm);
  font-size: var(--font-size-p);
}

.section {
  margin: 0 var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-lg);
  margin-bottom: 8rem;
}

.alerta {
  width: 80%;
  padding: var(--spacing-sm) var(--spacing-md);
  margin: var(--spacing-sm) 0;
  border-radius: var(--border-radius-buttons);
}

.error {
  background-color: darkred;
}

.exito {
  background-color: darkgreen;
}

select {
  padding: var(--spacing-sm);
}

@media (min-width: 1024px) {
  .subtitle {
    margin-bottom: var(--spacing-md);
  }
}