body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-primary-text);
  background-color: var(--color-background);
}

p {
  margin-bottom: var(--spacing-medium);
}

a {
  text-decoration: none;
  color: var(--color-text);
}
