.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-background);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: var(--spacing-large);
}

.footer__form-wrapper {
  padding: 1rem 2rem;
  
  input[type="submit"] {
    width: 100%;
  }
}
